{
  "extends": ["eslint:recommended", "prettier"],

  "parserOptions": {
    "sourceType": "module"
  },

  "env": {
    "node": true,
    "es6": true
  },

  "plugins": [
    "mocha",
    "prettier"
  ],

  "rules": {
    "prettier/prettier": [2, {"bracketSpacing": false, "singleQuote": true}],
    "mocha/no-exclusive-tests": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": 2
  }
}
